---
const
    year = new Date().getFullYear(),
    { preferredName } = Astro.props
---
<footer class="flex items-center justify-center text-center p-5 text-slate-500 dark:text-neutral-500 text-base">
    <div class="max-w-2xl">
        { year } { preferredName }. <br class="sm:hidden"/> All rights waived.
    </div>
</footer>