---
const
    year = new Date().getFullYear(),
    { preferredName } = Astro.props
---
<footer class="flex items-center justify-center text-center p-5 text-base">
    <p class="max-w-2xl m-0">
        { year } { preferredName }. <br class="sm:hidden"/> All rights waived.
    </p>
</footer>