---
import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
// const content = renderRichText(blok.content)

const pathname = new URL(Astro.request.url).pathname
---
{
    () => {
        if (pathname.includes('/c/')) {
            return (
                <header class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7">
                    <div
                        style={`background-color: #${ blok.pastel }`}
                        class="p-7 h-[480px] lg:h-[424px] rounded-xl flex flex-col">
                        <h1 class="font-display text-2xl text-slate-950 r-center">
                            { blok.title }
                        </h1>
                        <div class="w-full r-center flex-1">
                            <div class="h-64 w-64 r-center">
                                <img src={blok.illustration.filename} alt="" class="h-40"/>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-span-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi a sit, ex soluta iste assumenda consequatur laborum doloremque unde, laboriosam sint! Magni ab officia iusto modi qui! Dolore, animi consectetur.
                    </div>
                </header>
            )
        } else {
            return (
                <article
                    style={`background-color: #${ blok.pastel }`}
                    class="p-7 h-[480px] lg:h-[424px] hover:shadow-2xl rounded-xl transition duration-300 flex flex-col">
                    <h2 class="font-display text-2xl text-slate-950 r-center">
                        { blok.title }
                    </h2>
                    <div class="w-full r-center flex-1">
                        <div class="h-64 w-64 r-center">
                            <img src={blok.illustration.filename} alt="" class="h-40"/>
                        </div>
                    </div>
                </article>
            )
        }
    }
}