---
import Lipsum from '../components/Lipsum.astro'
import BookCover from '../components/BookCover.astro'

const { blok } = Astro.props
const pathname = new URL(Astro.request.url).pathname
---
{
    () => {
        if (pathname.includes('/c/')) {
            return (
                <header class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
                    <div class="md:sticky top-7">
                        <BookCover
                            bg={ blok.pastel }
                            title={ blok.title }
                            filename={ blok.illustration.filename }
                        />
                    </div>
                    <div class="lg:col-span-2">
                        <Lipsum/>
                    </div>
                </header>
            )
        } else {
            return (
                <article class="hover:shadow-2xl transition duration-300">
                    <BookCover
                        bg={ blok.pastel }
                        title={ blok.title }
                        filename={ blok.illustration.filename }
                    />
                </article>
            )
        }
    }
}