---
import Lipsum from '../components/Lipsum.astro'
import BookCover from '../components/BookCover.astro'
import BackTo from '../components/BackTo.astro'
import ChapterToggle from '../components/ChapterToggle.astro'

const { blok } = Astro.props
const pathname = new URL(Astro.request.url).pathname
---
{
    () => {
        if (pathname.includes('/c/')) {
            return (
                <header class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-7 lg:gap-7">
                    <div class="col-span-1">
                        <div class="lg:sticky top-7 space-y-7 flex flex-col items-end lg:items-stretch">
                            <BackTo href={ `/` } text={ 'Collections' }/>
                            <BookCover
                                bg={ blok.pastel }
                                title={ blok.title }
                                filename={ blok.illustration.filename }
                            />
                            <ChapterToggle/>
                        </div>
                    </div>
                    <div class="lg:col-span-2">
                        <Lipsum/>
                    </div>
                </header>
            )
        } else {
            return (
                <article class="rounded-xl hover:shadow-2xl transition duration-300">
                    <BookCover
                        bg={ blok.pastel }
                        title={ blok.title }
                        filename={ blok.illustration.filename }
                    />
                </article>
            )
        }
    }
}