---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Lipsum from '../components/Lipsum.astro'

const { blok } = Astro.props
---
<div {...storyblokEditable(blok)} class="space-y-7 sm:space-y-9 lg:space-y-12">
    {
        () => {
            if (blok.poems) {
                return (
                    blok.poems.map((blok: any) => {
                        return <StoryblokComponent blok={ blok } />
                    })
                )
            } else {
                return <Lipsum/>
            }
        }
    }
</div>