---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Lipsum from '../components/Lipsum.astro'
import { isEmpty } from '../js/snips'

const { blok } = Astro.props
---
<div {...storyblokEditable(blok)}>
    {() => {
        if (isEmpty(blok.pieces)) return <Lipsum/>
        else {
            return (
                blok.pieces.map((blok: any) => {
                    return <StoryblokComponent blok={ blok } />
                })
            )
        }
    }}
</div>