---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Lipsum from '../components/Lipsum.astro'

const { blok } = Astro.props
---
<div {...storyblokEditable(blok)} class="space-y-12 sm:space-y-16 lg:space-y-20">
    {
        () => {
            if (blok.pieces) {
                return (
                    blok.pieces.map((blok: any) => {
                        return <StoryblokComponent blok={ blok } />
                    })
                )
            } else {
                return <Lipsum/>
            }
        }
    }
</div>