---
import { renderRichText } from '@storyblok/astro'
const { blok } = Astro.props
const content = renderRichText(blok.poem)
---
<article>
    <div class="text-slate-950">
        <h3 class="font-display text-2xl">
            { blok.title }
        </h3>
    </div>
    <div class="mt-4">
        <Fragment set:html={content}/>
    </div>
</article>