---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
const { blok } = Astro.props
// const content = renderRichText(blok.content)
---
<div>
    <div class="text-slate-950">
        <h3 class="font-display text-2xl sm:text-3xl">
            { blok.title }
        </h3>
    </div>
    <div>
        <!-- <Fragment set:html={content} /> -->
    </div>
</div>