---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
const { blok } = Astro.props
// const content = renderRichText(blok.content)
---
<div>
    <div>
        <h3>
            { blok.title }
        </h3>
    </div>
    <div>
        <!-- <Fragment set:html={content} /> -->
    </div>
</div>