---
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/s', {
	version: import.meta.env.DEV ? 'draft' : 'published'
})

const sayings = data.stories.map((story) => {
	return {
		title: story.content.title,
		slug: story.full_slug,
	}
})

const { blok } = Astro.props
---

<ul {...storyblokEditable(blok)}>
	{
		sayings.map((book) => (
			<li>
				<h2>{ book.title }</h2>
			</li>
		))
	}
</ul>