---
import Base from '@layouts/Base.astro'
import Silence from '@blocks/Silence.astro'
import BackTo from '@blocks/BackTo.astro'
import { useStoryblokApi, renderRichText } from '@storyblok/astro'
import Prose from '@blocks/Prose.astro'

const storyblokApi = useStoryblokApi()
const { data: settings } = await storyblokApi.get('cdn/stories/settings', {
    version: import.meta.env.DEV ? 'draft' : 'published'
})
const error = settings.story.content.error[0]
---
<Base
    pageTitle={ error.title }
    pageDescription={ error.description }>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-14 sm:gap-y-16 lg:gap-9 py-5">
        <div class="col-span-1">
            <div class="lg:sticky lg:top-10 space-y-5 flex flex-col items-end lg:items-stretch">
                <BackTo text={ 'Collections' }/>
                <Silence
                    bg={ 'f1f5f9' }
                    class:list={ `min-w-[304px] max-w-[356px] h-[496px] lg:h-[472px] r-image-dim` }
                />
            </div>
        </div>
        <div class="lg:col-span-2 flex flex-col lg:pt-16">
            <h2 class="font-display text-6xl sm:text-7xl md:text-8xl lg:text-9xl text-slate-950 dark:text-white">
                { error.headline }
            </h2>
            <Prose class:list="mt-9 sm:mt-12 lg:mt-16">
                <Fragment set:html={ renderRichText(error.content) }/>
            </Prose>
        </div>
    </div>
</Base>