---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../layouts/Layout.astro'
import Cover from '../components/Cover.astro'

export async function getStaticPaths() {
    const
        storyblokApi = useStoryblokApi(),
        { data: { links } } = await storyblokApi.get('cdn/links', {
            version: import.meta.env.DEV ? 'draft' : 'published'
        }),
        filteredLinks = Object.values(links).filter((link: any) => link.slug.includes('pages/'))

    return filteredLinks.map((l: any) => {
        return {
            params: {
                slug: l.slug.split('/')[1]
            }
        }
    })
}

const
    { slug } = Astro.params,
    storyblokApi = useStoryblokApi(),
    { data: pageData } = await storyblokApi.get(`cdn/stories/pages/${slug}`, {
        version: import.meta.env.DEV ? 'draft' : 'published'
    }),
    page = pageData.story,
    meta = page.content.meta[0]
---
<Layout
    pageTitle={ meta.title }
    pageDescription={ meta.description }
    pageThumbnail={ meta.image.filename }>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-9 lg:gap-9">
        <div class="col-span-1">
            <Cover
                filename={ meta.image.filename }
            />
        </div>
        <div class="lg:col-span-2 flex flex-col mt-px">
            <StoryblokComponent
                blok={ page.content }
            />
        </div>
    </div>
</Layout>