---
import Layout from '../layouts/Layout.astro'
---

<Layout title="These are the sayings of Kabolobari">
	<main>
        <div class="px-3 py-4 text-center">
            <h1 class="font-display">
                <span class="text-7xl lg:text-9xl">Sayings</span>
                <span class="block text-xl lg:text-3xl font-bold mt-1 opacity-70">of Kabolobari</span>
            </h1>
        </div>
        <p class="text-7xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolorum iure distinctio minus optio itaque veritatis esse, quia officiis? Dolorem corporis fugiat aliquam id modi cupiditate voluptatibus accusantium doloremque tempora.
        </p>
	</main>
</Layout>

<style>

</style>