---
import Fab from './Fab.astro'
import { Icon } from 'astro-icon'
---
<div
    class="fixed bottom-80 sm:bottom-48 lg:bottom-40 right-5 lg:right-7 transition duration-300 ease-in-out opacity-0 translate-y-20"
    data-backtotop>
    <Fab>
        <Icon name='arrow-up' class='w-7'/>
        <span class='sr-only'>Back to top</span>
    </Fab>
</div>

<script>
    import { slideOut, enter, leave, invisible, visible } from '../js/snips'

    const
        backToTop = document.querySelector('[data-backtotop]'),
        button = backToTop.querySelector('button')

    hideBtt()

    window.addEventListener('scroll', () => {
        if (window.scrollY > 640) showBtt()
        else hideBtt()
    })

    function showBtt() {
        visible(backToTop)
        backToTop.classList.add(...enter())
        backToTop.classList.remove(...leave())
    }
    function hideBtt() {
        slideOut(backToTop, enter(), leave())
        setTimeout(() => invisible(backToTop), 300)
    }

    button.addEventListener('click', () => window.scrollTo({ top: 0, left: 0, behavior: 'smooth'}), false)
</script>