---
import { Icon } from 'astro-icon'
---
<div
    class="fixed bottom-64 lg:bottom-20 right-3 sm:right-5 lg:right-7 transition duration-300 ease-in-out opacity-0 translate-y-12"
    data-backtotop>
    <button
        class='flex items-center justify-center h-14 w-14 rounded-full bg-slate-100 px-7 shadow-xl hover:shadow-2xl transition duration-300 text-slate-950 opacity-80 hover:opacity-100'>
        <Icon name='arrow-up' class='w-8'/>
        <span class='sr-only'>Back to top</span>
    </button>
</div>

<script>
    const
        backToTop = document.querySelector('[data-backtotop]'),
        button = backToTop.querySelector('button'),
        enter = ['opacity-100', 'translate-y-0'],
        leave = ['opacity-0', 'translate-y-12']

    window.addEventListener('scroll', () => {
        if (window.scrollY > 640) {
            backToTop.classList.add(...enter)
            backToTop.classList.remove(...leave)
        }
        else {
            backToTop.classList.remove(...enter)
            backToTop.classList.add(...leave)
        }
    })

    button.addEventListener('click', () => window.scrollTo({ top: 0, left: 0, behavior: 'smooth'}), false)
</script>