---
import Fab from '../blocks/Fab.astro'
import Icon from '../atoms/Icon.astro'

const { text } = Astro.props
---
<a
    href="/"
    class="ml-auto lg:ml-0">
    <Fab asDiv>
        <Icon name="arrow-left" class="w-7"/>
        <span class="sr-only">{ text || 'Back to parent page' }</span>
    </Fab>
</a>