---
import Fab from '../blocks/Fab.astro'
import { Icon } from 'astro-icon'

const { text } = Astro.props
---
<a
    href="javascript:history.back()"
    class="ml-auto"
    data-no-swup>
    <Fab asDiv>
        <Icon name="arrow-left" class="w-7"/>
        <span class="sr-only">{ text || 'Back to parent page' }</span>
    </Fab>
</a>