---
import Fab from './Fab.astro'
import { Icon } from 'astro-icon'

const { href, text } = Astro.props
---
<a
    href={ href }
    class="self-end">
    <Fab asDiv>
        <Icon name="arrow-left" class="w-7"/>
        <span class="font-display sr-only">{ text }</span>
    </Fab>
</a>