---
import { Icon } from 'astro-icon'
---
<div class="fixed bottom-40 lg:bottom-24 right-3 sm:right-5 lg:right-7">
    <button
        class='flex items-center justify-center h-14 w-14 rounded-full bg-slate-100 px-7 shadow-xl hover:shadow-2xl transition duration-300 text-slate-950 opacity-80 hover:opacity-100'
        data-backtotop>
        <Icon name='arrow-up' class='w-8'/>
        <span class='sr-only'>Back to top</span>
    </button>
</div>

<script>
    document.addEventListener('astro:page-load', () => {
        const button = document.querySelector('[data-backtotop]')

        console.log(button)
    })
</script>