---
import { Icon } from 'astro-icon'

const { href, text } = Astro.props
---
<a
    href={ href }
    class="flex items-center justify-center self-end h-14 w-14 rounded-full bg-slate-100 px-7 shadow hover:shadow-lg transition duration-300">
    <Icon name="arrow-left" class="w-8 fill-brand-800"/>
    <span class="font-display sr-only">{ text }</span>
</a>