---
import { Image } from 'astro:assets'

const {
    bg, title, filename, alt, subtitle, class: classes, ...props
} = Astro.props
---
<div
    { ...props }
    style={`background-color: #${ bg }`}
    class:list={[classes, `p-7 min-w-[304px] max-w-[356px] h-[496px] lg:h-[472px] rounded-xl flex flex-col dark:contrast-125 dark:brightness-[.8]`]}>
    <p class="lowercase font-display text-2xl text-slate-950 text-center">
        { title }
    </p>
    <div class="w-full flex-1 flex justify-center ">
        <div class="h-64 w-64 flex items-center justify-center pt-7">
            <Image
                src={ filename }
                alt={ alt || `Illustration for the ${ title } collection` }
                width="192"
                height="192"
                class="object-contain"
            />
        </div>
    </div>
    <div class="flex flex-col text-center text-slate-950 space-y-1">
        <span class="block font-medium text-lg italic text-slate-700">{ `${subtitle} by` }</span>
        <div class="font-display text-[1.65rem] leading-8 flex flex-col">
            <span>Kabolobari</span>
            <span>Benakole</span>
        </div>
    </div>
</div>