---
const { dataAttr } = Astro.props
---
<button
	class='h-11 w-11 flex items-center justify-center rounded-full bg-white shadow hover:shadow-xl text-slate-950 text-opacity-70 hover:text-opacity-100 transition-opacity duration-300'
	data-="">
	<slot/>
</button>
