---
import Icon from 'astro-icon'
---
<aside
    class="fixed left-3 bottom-3 sm:bottom-5 md:bottom-16 lg:static">
    <div class="flex items-center justify-center lg:justify-start lg:space-x-5 w-16 h-16 lg:h-auto bg-slate-100 rounded-full lg:rounded-xl lg:w-full lg:p-5 shadow-md hover:shadow-xl transition duration-300">
        <Icon name="list" class="w-8 fill-brand-800"/>
        <span class="sr-only lg:not-sr-only">Chapters</span>
    </div>
</aside>