---
import Icon from 'astro-icon'
---
<aside
    class="fixed left-5 bottom-24 md:bottom-32 lg:static text-slate-950">
    <div class="flex items-center justify-center text-center lg:space-x-5 w-16 h-16 lg:h-auto bg-slate-100 rounded-full lg:rounded-xl lg:w-full lg:p-5 shadow-md hover:shadow-xl transition duration-300 opacity-80 hover:opacity-100 cursor-pointer">
        <Icon name="list" class="w-8"/>
        <h2 class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Chapters</h2>
    </div>
</aside>