---
import Lipsum from './Lipsum.astro'
import Icon from 'astro-icon'
import Backdrop from './Backdrop.astro'
const { book = '' } = Astro.props
---
<button class="fixed left-3 bottom-20 md:bottom-28 lg:static text-slate-950 z-40" data-toggle-chapters>
    <div
        class="flex items-center justify-center text-center lg:space-x-5 w-14 h-14 lg:h-auto bg-slate-100 rounded-full lg:rounded-xl lg:w-full lg:p-5 shadow hover:shadow-xl transition duration-700 opacity-80 hover:opacity-100 pointer-events-none">
        <Icon name="list" class="w-7"/>
        <span class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Chapters</span>
    </div>
</button>

<Backdrop/>

<aside class="fixed inset-y-0 right-0 z-50 flex items-center ml-auto !m-0 h-screen opacity-0 translate-x-full transition duration-300 ease-in-out" data-chapters>
    <div class="bg-white max-w-xs sm:max-w-sm rounded-xl lg:rounded-2xl h-full max-h-[calc(100vh-80px)] mr-3 sm:mr-5 lg:mr-9 overflow-hidden">
        <div class="flex flex-col flex-shrink-0 overflow-hidden w-full h-full">
            <div class="bg-slate-100 flex items-center justify-between pr-5 shadow h-16">
                <h2 class="font-display text-xl p-5 h-full flex items-center">
                    Chapters <span class="sr-only">in { book }</span>
                </h2>
                <button class="h-11 w-11 flex items-center justify-center rounded-full bg-white shadow hover:shadow-xl text-slate-950 text-opacity-70 hover:text-opacity-100 transition-opacity duration-300" data-close>
                    <Icon name="close" class="w-5"/>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="flex-1 overflow-auto p-5">
                <Lipsum />
            </div>
        </div>
    </div>
</aside>

<script>
    const
        button = document.querySelector('[data-toggle-chapters]'),
        backdrop = document.querySelector('[data-slideover]'),
        chapters = document.querySelector('[data-chapters]'),
        close = document.querySelector('[data-close]'),
        translateIn = ['translate-x-0', 'opacity-100'],
        translateOut = ['translate-x-full', 'opacity-0'],
        body = document.body,
        hidden = ['invisible']

    button.addEventListener('click', () => {
        body.style.overflow = 'hidden'
        backdrop.classList.remove('opacity-0')
        backdrop.classList.add('opacity-60')
        backdrop.classList.remove(...hidden)
        chapters.classList.add(...translateIn)
        chapters.classList.remove(...translateOut)
    })

    backdrop.addEventListener('click', () => removeSlideover())
    close.addEventListener('click', () => removeSlideover())

    function removeSlideover() {
        body.style.overflow = ''
        backdrop.classList.add('opacity-0')
        backdrop.classList.remove('opacity-60')
        chapters.classList.remove(...translateIn)
        chapters.classList.add(...translateOut)
        setTimeout(() => {
            backdrop.classList.add(...hidden)
        }, 500)
    }
</script>