---
import { storyblokEditable } from '@storyblok/astro'
import BookCover from './BookCover.astro'

const { collections } = Astro.props
---
<ul
    { ...storyblokEditable(collections) }
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 justify-items-center"
    data-swup-preload-all>
    {
        collections.map(c => (
            <li
                class="w-full min-w-[304px] max-w-[356px] md:max-w-none"
                data-gsap="fly-in">
                <a href={`/${c.slug}`}>
                    <article
                        class="rounded-xl hover:shadow-2xl transition duration-300 overflow-clip">
                        <h2 class="sr-only">{ c.content.title + ' ' + c.content.short_title }</h2>
                        <BookCover
                            filename={ c.content.image.filename }
                            title={ c.content.title }
                        />
                    </article>
                </a>
            </li>
        ))
    }
</ul>