---
import { storyblokEditable } from '@storyblok/astro'
import BookCover from './BookCover.astro'

const { collections } = Astro.props
---
<ul
    { ...storyblokEditable(collections) }
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 justify-items-center">
    {
        collections.map(c => (
            <li
                class="w-full max-w-[356px] md:max-w-none"
                data-gsap="move-in">
                <a href={`/${c.slug}`}>
                    <article
                        class="rounded-xl hover:shadow-2xl transition duration-300">
                        <h2 class="sr-only">{ c.cover.title + ' ' + c.cover.subtitle }</h2>
                        <BookCover
                            bg={ c.cover.pastel }
                            title={ c.cover.title }
                            filename={ c.cover.illustration.filename }
                            subtitle={ c.cover.subtitle }
                        />
                    </article>
                </a>
            </li>
        ))
    }
</ul>