---
import { storyblokEditable } from '@storyblok/astro'
import BookCover from './BookCover.astro'
import { Image } from 'astro:assets'

const { collections } = Astro.props
---
<ul
    { ...storyblokEditable(collections) }
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 justify-items-center">
    {
        collections.map(c => (
            <li
                class="w-full max-w-[356px] md:max-w-none"
                data-gsap="move-in">
                <a href={`/${c.slug}`}>
                    <article
                        class="rounded-xl hover:shadow-2xl transition duration-300 overflow-clip">
                        <h2 class="sr-only">{ c.cover.title + ' ' + c.cover.subtitle }</h2>
                        <Image
                            src={ c.content.image.filename }
                            alt={ c.content.image.alt || `Illustration for the ${ c.cover.title } collection` }
                            width="356"
                            height="496"
                            class="object-contain r-image-dim"
                            quality="100"
                        />
                    </article>
                </a>
            </li>
        ))
    }
</ul>