---
import Logo from '../components/Logo.astro'
import Search from '../components/Search.astro'
import Wrapper from '../layouts/Wrapper.astro'

const { title } = Astro.props
---
<header class="z-10">
    <Wrapper class:list="flex items-center justify-between py-5 lg:py-7">
        <a href="/" class="inline-block">
            <Logo classes="h-14 lg:h-16 fill-slate-950"/>
            <span class="sr-only">{ title }</span>
        </a>
        <Search/>
    </Wrapper>
</header>