---
import Logo from '../components/Logo.astro'
---
<header class="flex items-center justify-center p-5 sm:p-7">
    <a href="/" class="inline-block">
        <Logo classes="h-14 lg:h-16 fill-slate-950"/>
    </a>
</header>