---
import { slugify } from '../js/snips'

const { linkFragment, title } = Astro.props
---
<a
    href={ `#${slugify(linkFragment)}` }
    class="flex items-center p-3 hover:bg-slate-100 transition duration-300"
    data-link>
    <span>
        { title }
    </span>
</a>