---
import kebabCase from 'lodash/kebabCase'

const { linkFragment, title } = Astro.props
const slugify = str => kebabCase(str.replace(/&/g, '-and-'))
---
<a
    href={ `#${slugify(linkFragment)}` }
    class="flex items-center py-3 font-display text-lg hover:bg-slate-100 transition duration-300">
    <span>
        { title }
    </span>
</a>