---
import { slugify } from '../js/snips'

const { linkFragment, title } = Astro.props
---
<a
    href={ `#${slugify(linkFragment)}` }
    class="flex items-center p-3 hover:bg-slate-100 transition duration-300"
    data-link>
    <span class="pointer-events-none">
        { title }
    </span>
</a>

<script>
    import { arrayFrom, scrollToTopOffset } from '../js/snips'

    const links = arrayFrom('[data-link]')
    const headerHeight = document.querySelector('[data-main-header]').getBoundingClientRect().height

    links.forEach(link => {
        link.addEventListener('click', e => {
            e.preventDefault()
            const linkEl = document.querySelector(e.target.hash)
            scrollToTopOffset(linkEl, headerHeight)
        })
    })
</script>