---
import kebabCase from 'lodash/kebabCase'

const { linkFragment, title } = Astro.props
const slugify = str => kebabCase(str.replace(/&/g, '-and-'))
---
<a href={ `#${slugify(linkFragment)}` }>
    <span>
        { title }
    </span>
</a>