---
import kebabCase from 'lodash/kebabCase'

const { href, id, title } = Astro.props
const slugify = str => kebabCase(str.replace(/&/g, '-and-'))
---
<a href={ `#${slugify(href)}` }>
    <span>
        { title }
    </span>
</a>