---
import Lipsum from './Lipsum.astro'
import { isEmpty } from '../js/snips'
import { renderRichText } from '@storyblok/astro'

const { content } = Astro.props
---
<div
    class='p-3'
    data-slideover='overview'
    data-slideover-title='Overview'>
	{
        () => {
            if (isEmpty(content?.content[0]?.content)) return <Lipsum size={ 1 }/>
            return (
                <Fragment set:html={ renderRichText(content) }/>
            )
        }
    }
</div>