---
import Lipsum from './Lipsum.astro'
import { isEmpty } from '../js/snips'

const { content } = Astro.props
---
<div
    class='p-3'
    data-slideover='overview'
    data-slideover-title='Overview'>
	{
        () => {
            if (isEmpty(content)) return <Lipsum size={ 1 }/>
            else {
                return (
                    <Fragment set:html={ content }/>
                )
            }
        }
    }
</div>