---
const { class: classes, ...props } = Astro.props
---
<div
    { ...props }
	class:list={[
        classes, `prose prose-h1:font-bold prose-h1:text-xl prose-a:text-accent-600 prose-headings:underline prose-p:leading-[1.55] dark:prose-a:text-accent-300 dark:font-light`
    ]}>
    <slot />
</div>