---
import Icon from 'astro-icon'
import Fab from './Fab.astro'
---
<Fab id="search" class:list="fixed top-5 right-3 sm:right-5 lg:right-7 cursor-pointer">
    <Icon name="search" class="w-6"/>
    <span class="sr-only">Search</span>
</Fab>