---
import Icon from 'astro-icon'
---
<div class="w-full lg:max-w-96 sticky top-3 lg:top-10 z-20 mb-5">
    <label for="search" class="sr-only">Find a piece</label>
    <div class="relative flex items-center justify-between">
        <input
            type="text"
            name="search"
            id="search"
            placeholder="Find a piece..."
            class="flex w-full min-w-72 lg:max-w-96 rounded-lg border-0 py-3.5 pl-4 pr-16 text-slate-900 shadow-sm ring-[1.25px] ring-inset ring-slate-300 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-fuchsia-600 transition duration-300 dark:text-white/80 dark:bg-neutral-800 dark:placeholder:text-neutral-500 dark:ring-neutral-700 dark:focus:ring-fuchsia-300"
        />
        <div
            class="absolute inset-y-0 right-0 flex py-3.5 pr-4 cursor-pointer group"
            data-search-icon>
            <Icon
                name="search"
                class="w-6 text-slate-400 dark:text-white/50 group-hover:text-fuchsia-600 dark:group-hover:text-fuchsia-300 transition duration-300 ease-in-out"
            />
        </div>
    </div>
</div>

<script>
    import { $, $$ } from '../js/snips'
    import { gsap } from 'gsap'
    import { Flip } from 'gsap/all'

    gsap.registerPlugin(Flip)

    document.addEventListener('astro:page-load', () => Search())

    function Search() {
        let typingTimer: number

        const
            pieces = $$('[data-piece]'),
            input = $('#search'),
            typeInterval = 300,
            icon = $('[data-search-icon]')

        document.addEventListener('keydown', e => {
            if ((e.metaKey && e.key === 'k')) {
                input.focus()
            }
            if (input === document.activeElement) {
                if (e.key === 'Escape') {
                    input.blur()
                }
            }
        })

        icon && icon.addEventListener('click', () => input.focus())

        input && input.addEventListener('keyup', () => {
            clearTimeout(typingTimer)
            typingTimer = setTimeout(liveSearch, typeInterval)
        })

        function liveSearch() {
            const
                query = input.value.toLowerCase().trim(),
                state = Flip.getState(pieces)

            pieces.forEach(piece => {
                if (piece.textContent.toLowerCase().includes(query)) {
                    piece.classList.remove('hidden')
                } else {
                    piece.classList.add('hidden')
                }
            })

            Flip.from(state, {
                duration: 0.5,
                scale: true,
                ease: 'power1.inOut',
                absoluteOnLeave: true,
                prune: true,
                absolute: true,
                fade: true,
                simple: true,
                onEnter: elements => gsap.fromTo(elements, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, duration: 0.3 }),
                onLeave: elements => gsap.to(elements, { opacity: 0, scale: 0, duration: 0.3 })
            })
        }
    }

    /** Credits/refs
        * https://css-tricks.com/in-page-filtered-search-with-vanilla-javascript/
        * https://codepen.io/GreenSock/pen/NWRxarv?editors=0010
        * https://gsap.com/docs/v3/Plugins/Flip/
    */
</script>