---
import Icon from 'astro-icon'
---
<div class="w-full lg:max-w-96 sticky top-3 lg:top-10 z-20 mb-5">
    <label for="search" class="sr-only">Find a piece</label>
    <div class="relative flex items-center justify-between">
        <input
            type="text"
            name="search"
            id="search"
            placeholder="Find a piece..."
            class="flex w-full min-w-72 lg:max-w-96 rounded-lg border-0 py-3.5 pl-4 pr-16 text-slate-900 shadow-sm ring-[1.25px] ring-inset ring-slate-300 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 transition duration-300 dark:text-white/80 dark:bg-neutral-800 dark:placeholder:text-neutral-500 dark:ring-neutral-700 dark:focus:ring-accent-300"
        />
        <div
            class="absolute inset-y-0 right-0 flex group h-full"
            x-data>
            <button data-search-icon x-show="!$store.states.searchOn" class="h-full px-3.5">
                <Icon
                    name="search"
                    class="w-6 text-slate-400 dark:text-white/50 group-hover:text-accent-600 dark:group-hover:text-accent-300 transition duration-300 ease-in-out"
                />
            </button>
            <button data-search-close x-show="$store.states.searchOn" class="h-full px-3.5">
                <Icon
                    name="close"
                    class="w-6 text-slate-400 dark:text-white/50 group-hover:text-accent-600 dark:group-hover:text-accent-300 transition duration-300 ease-in-out"
                />
            </button>
        </div>
    </div>
</div>