---
import { slugify, splitFirstOccurrenceOnly } from '../js/snips'
import Icon from 'astro-icon'
import Fab from './Fab.astro'

const { title, content } = Astro.props
---
<article
    class="mb-12 sm:mb-16 lg:mb-20"
    data-piece>
    <h3
        id={ slugify(splitFirstOccurrenceOnly(title, '.')) }
        class="font-display text-xl text-slate-950 dark:text-white mb-3 inline-flex items-center">
        <span class="inline-flex">{ title }</span>
        <a
            href={ `#${slugify(splitFirstOccurrenceOnly(title, '.'))}` }
            data-copy
            class="flex items-center ml-2 text-fuchsia-600 mb-1">
            <Fab smallAndDiv class:list="bg-slate-100 pointer-events-none">
                <Icon name="link" class="w-5"/>
                <span class="sr-only">Jump to { title }</span>
            </Fab>
        </a>
    </h3>
    <div>
        <Fragment set:html={ content }/>
    </div>
</article>