---
import { slugify } from '../js/snips'
import Icon from 'astro-icon'
import Fab from './Fab.astro'

const { title, content } = Astro.props
---
<article>
    <h3
        id={ slugify(title.split('.')[1]) }
        class="font-display text-2xl text-slate-950 mb-5 inline-flex items-center">
        <span class="inline-flex">{ title }</span>
        <a
            href={ `#${slugify(title.split('.')[1])}` }
            data-copy
            class="flex items-center ml-2 text-fuchsia-700">
            <Fab smallAndDiv class:list="bg-slate-100">
                <Icon name="link" class="w-5"/>
                <span class="sr-only">Jump to { title }</span>
            </Fab>
        </a>
    </h3>
    <div>
        <Fragment set:html={ content }/>
    </div>
</article>