---
import { slugify } from '../js/snips'
import Icon from 'astro-icon'

const { title, content } = Astro.props
---
<article>
    <h3
        id={ slugify(title.split('.')[1]) }
        class="font-display text-2xl text-slate-950 mb-5 inline-flex items-center">
        <span class="inline-flex">{ title }</span>
        <div class="flex items-center ml-3 text-fuchsia-700">
            <a
                href={ `#${slugify(title.split('.')[1])}` }
                data-copy>
                <Icon name="link" class="w-6"/>
                <span class="sr-only">Jump to { title }</span>
            </a>
        </div>
    </h3>
    <div>
        <Fragment set:html={ content }/>
    </div>
</article>