---
import Icon from 'astro-icon'
import kebabCase from 'lodash/kebabCase'

const { linkFragment, bg, classes = '' } = Astro.props
const slugify = str => kebabCase(str.replace(/&/g, '-and-'))
---
<div class="fixed left-5 bottom-5 md:bottom-12 lg:static text-slate-950">
    <a
        href={ `#${slugify(linkFragment)}` }
        class="flex items-center justify-center text-center lg:space-x-5 w-16 h-16 lg:h-auto rounded-full lg:rounded-xl lg:w-full lg:p-5 shadow-sm hover:shadow-xl transition duration-300"
        style={`background-color: #${ bg }`}>
        <Icon name="paperclip" class="w-8"/>
        <h2 class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Title Piece</h2>
    </a>
</div>