---
import Icon from 'astro-icon'
import kebabCase from 'lodash/kebabCase'
import FabToCard from './FabToCard.astro'

const { linkFragment, bg } = Astro.props
const slugify = str => kebabCase(str.replace(/&/g, '-and-'))
---
<a href={ `#${slugify(linkFragment)}` }>
    <FabToCard bg={ bg }>
        <Icon name="paperclip" class="w-6"/>
        <h2 class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Title Piece</h2>
    </FabToCard>
</a>