---
import Fab from '../blocks/Fab.astro'
import { Icon } from 'astro-icon'

const { class: classes, ...props } = Astro.props
---
<div
    { ...props }
    class:list={[ classes ]}>
    <Fab
        small
        toggle="slideover"
        slideoverContent="overview"
        class:list="dark:bg-neutral-200">
        <Icon name='menu-dots' class='w-7'/>
        <span class='sr-only'>{ 'Show or hide collection overview' }</span>
    </Fab>
</div>