---
import Icon from '../atoms/Icon.astro'
import { slugify } from '@scripts/snips'
import FabToCard from './FabToCard.astro'

const { linkFragment, bg } = Astro.props
---
<a
    href={ `#${slugify(linkFragment)}` }
    class="group"
    data-link
    data-no-swup>
    <FabToCard bg={ bg } class:list={ 'pointer-events-none' }>
        <Icon name="paperclip" class="w-6"/>
        <h2 class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Title Piece</h2>
    </FabToCard>
</a>