---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../../layouts/Layout.astro'
import Wrapper from '../../layouts/Wrapper.astro'
import BookCover from '../../components/BookCover.astro'
import BackTo from '../../components/BackTo.astro'
import TitlePiece from '../../components/TitlePiece.astro'
import FabToCard from '../../components/FabToCard.astro'
import Icon from 'astro-icon'

export async function getStaticPaths() {
	const sbApi = useStoryblokApi()
	const { data } = await sbApi.get('cdn/stories/', {
		starts_with: 'c/',
		version: import.meta.env.DEV ? 'draft' : 'published',
	})

	const stories = Object.values(data.stories)

	return stories.map((s: any) => {
		return {
			params: { slug: s.slug },
		}
	})
}

const sbApi = useStoryblokApi()
const { slug } = Astro.params
const { data } = await sbApi.get(`cdn/stories/c/${slug}`, {
	version: import.meta.env.DEV ? 'draft' : 'published',
})

const page = data.story
const cover = page.content.cover[0]
---
<Layout pageTitle={ page.content.title }>
    <Wrapper>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-14 sm:gap-y-16 lg:gap-9">
            <div class="col-span-1">
                <div class="lg:sticky lg:top-7 space-y-5 flex flex-col items-end lg:items-stretch">
                    <BackTo href={ `/` } text={ 'Collections' }/>
                    <BookCover
                        bg={ cover.pastel }
                        title={ cover.title }
                        filename={ cover.illustration.filename }
                        subtitle={ cover.subtitle }
                    />
                    <button class="fixed left-3 bottom-20 md:bottom-28 lg:static" data-toggle-chapters>
                        <FabToCard>
                            <Icon name="list" class="w-7 pointer-events-none"/>
                            <span class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Chapters</span>
                        </FabToCard>
                    </button>
                    <TitlePiece
                        linkFragment={ cover.title }
                        bg={ cover.pastel }
                    />
                </div>
            </div>
            <div class="lg:col-span-2 lg:pt-16 lg:mt-1.5 r-poem flex justify-center lg:justify-start">
                <StoryblokComponent blok={ page.content }/>
            </div>
        </div>
    </Wrapper>

</Layout>

<style is:global>
    .r-poem p { @apply text-[1.055rem] leading-[1.605rem]; }
    .r-poem p:empty { @apply my-6; }
    .r-poem hr { @apply max-w-[256px]; }
</style>