---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../../layouts/Layout.astro'
import Wrapper from '../../layouts/Wrapper.astro'
import BookCover from '../../components/BookCover.astro'
import BackTo from '../../components/BackTo.astro'
import ChapterToggle from '../../components/ChapterToggle.astro'
import TitlePiece from '../../components/TitlePiece.astro'

export async function getStaticPaths() {
	const sbApi = useStoryblokApi()
	const { data } = await sbApi.get('cdn/stories/', {
		starts_with: 'c/',
		version: import.meta.env.DEV ? 'draft' : 'published',
	})

	const stories = Object.values(data.stories)

	return stories.map((s: any) => {
		return {
			params: { slug: s.slug },
		}
	})
}

const sbApi = useStoryblokApi()
const { slug } = Astro.params
const { data } = await sbApi.get(`cdn/stories/c/${slug}`, {
	version: import.meta.env.DEV ? 'draft' : 'published',
})

const page = data.story
const cover = page.content.cover[0]
---
<Layout pageTitle={ page.content.title }>
    <Wrapper>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-14 sm:gap-y-16 lg:gap-9">
            <div class="col-span-1">
                <div class="lg:sticky top-7 space-y-7 flex flex-col items-end lg:items-stretch">
                    <BackTo href={ `/` } text={ 'Collections' }/>
                    <BookCover
                        bg={ cover.pastel }
                        title={ cover.title }
                        filename={ cover.illustration.filename }
                        subtitle={ cover.subtitle }
                    />
                    <ChapterToggle/>
                    <TitlePiece
                        linkFragment={ cover.title }
                        bg={ cover.pastel }
                    />
                </div>
            </div>
            <div class="lg:col-span-2 lg:pt-[82px] r-poem flex justify-center lg:justify-start">
                <StoryblokComponent blok={ page.content } />
            </div>
        </div>
    </Wrapper>
</Layout>

<style is:global>
    .r-poem p { @apply text-[1.055rem] leading-[1.605rem]; }
    .r-poem p:empty { @apply my-5 sm:my-7; }
    .r-poem hr { @apply max-w-[256px]; }
</style>