---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../../layouts/Layout.astro'
import BookCover from '../../components/BookCover.astro'
import BackTo from '../../components/BackTo.astro'
import TitlePiece from '../../components/TitlePiece.astro'
import FabToCard from '../../components/FabToCard.astro'
import Icon from 'astro-icon'
import Toast from '../../components/Toast.astro'
import ToggleOverview from '../../components/ToggleOverview.astro'
import Chapters from '../../components/Chapters.astro'
import Slideover from '../../components/Slideover.astro'
import Overview from '../../components/Overview.astro'
import Silence from '../../components/Silence.astro'
import Search from '../../components/Search.astro'

export async function getStaticPaths() {
	const sbApi = useStoryblokApi()
	const { data } = await sbApi.get('cdn/stories/', {
		starts_with: 'c/',
		version: import.meta.env.DEV ? 'draft' : 'published',
	})

	const stories = Object.values(data.stories)

	return stories.map((s: any) => {
		return {
			params: { slug: s.slug },
		}
	})
}

const sbApi = useStoryblokApi()
const { slug } = Astro.params
const { data } = await sbApi.get(`cdn/stories/c/${slug}`, {
	version: import.meta.env.DEV ? 'draft' : 'published',
})

const page = data.story
const content = page.content
---
<Layout
    pageTitle={ content.title }
    pageDescription={ content.description }
    pageThumbnail={ content.image?.filename }>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-9 lg:gap-9">
        <div class="col-span-1">
            <div class="lg:sticky lg:top-10 space-y-5 flex flex-col items-end lg:items-stretch">
                <BackTo text={ 'Collections' }/>
                <div class="relative min-w-[304px] max-w-[356px] rounded-xl overflow-clip">
                    <BookCover
                        filename={ content.image.filename }
                        title={ content.title }
                    />
                    <ToggleOverview class:list={ `absolute bottom-3 right-3` }/>
                </div>
                <div class="fixed left-3 bottom-12 md:bottom-9 lg:static flex flex-col gap-3 lg:gap-5 z-30">
                    <button
                        class="lg:w-full group"
                        data-toggle="slideover"
                        data-slideover="chapters">
                        <FabToCard>
                            <Icon name="list" class="w-6 pointer-events-none"/>
                            <span class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Chapters</span>
                        </FabToCard>
                    </button>
                    <TitlePiece
                        linkFragment={ content.short_title }
                        bg={ content.pastel }
                    />
                </div>
            </div>
        </div>
        <div class="lg:col-span-2 r-piece flex flex-col mt-px">
            <Search/>
            <StoryblokComponent blok={ content }/>
            <Silence bg={ content.pastel } class:list={ `h-[152px]` }/>
        </div>
    </div>
    <Slideover>
        <Chapters pieces={ content.pieces }/>
        <Overview content={ content.overview }/>
    </Slideover>
    <Toast/>
</Layout>