---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from '../../layouts/Layout.astro'
import Wrapper from '../../layouts/Wrapper.astro'
import BookCover from '../../components/BookCover.astro'
import BackTo from '../../components/BackTo.astro'
import TitlePiece from '../../components/TitlePiece.astro'
import FabToCard from '../../components/FabToCard.astro'
import Icon from 'astro-icon'
import Toast from '../../components/Toast.astro'
import ToggleOverview from '../../components/ToggleOverview.astro'
import Chapters from '../../components/Chapters.astro'
import Slideover from '../../components/Slideover.astro'
import Lipsum from '../../components/Lipsum.astro'
import ListLink from '../../components/ListLink.astro'

export async function getStaticPaths() {
	const sbApi = useStoryblokApi()
	const { data } = await sbApi.get('cdn/stories/', {
		starts_with: 'c/',
		version: import.meta.env.DEV ? 'draft' : 'published',
	})

	const stories = Object.values(data.stories)

	return stories.map((s: any) => {
		return {
			params: { slug: s.slug },
		}
	})
}

const sbApi = useStoryblokApi()
const { slug } = Astro.params
const { data } = await sbApi.get(`cdn/stories/c/${slug}`, {
	version: import.meta.env.DEV ? 'draft' : 'published',
})

const page = data.story
const cover = page.content.cover[0]
const pageTitle = page.content.title
---
<Layout
    pageTitle={ pageTitle }
    pageDescription={ page.content.description }
    pageThumbnail={ page.content.image?.filename }>
    <Wrapper>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-0 gap-y-14 sm:gap-y-16 lg:gap-9">
            <div class="col-span-1">
                <div class="lg:sticky lg:top-9 space-y-5 flex flex-col items-end lg:items-stretch">
                    <BackTo href={ `/` } text={ 'Collections' }/>
                    <div class="relative">
                        <BookCover
                            bg={ cover.pastel }
                            title={ cover.title }
                            filename={ cover.illustration.filename }
                            subtitle={ cover.subtitle }
                        />
                        <ToggleOverview class:list={ `absolute bottom-3 right-3` }/>
                    </div>
                    <div class="fixed left-3 bottom-12 md:bottom-9 lg:static flex flex-col gap-3 lg:gap-5">
                        <button
                            class="lg:w-full"
                            data-toggle="slideover"
                            data-slideover="chapters">
                            <FabToCard>
                                <Icon name="list" class="w-6 pointer-events-none"/>
                                <span class="sr-only lg:not-sr-only lg:font-display pointer-events-none">Chapters</span>
                            </FabToCard>
                        </button>
                        <TitlePiece
                            linkFragment={ cover.title }
                            bg={ cover.pastel }
                        />
                    </div>
                </div>
            </div>
            <div class="lg:col-span-2 lg:pt-16 r-piece flex justify-center lg:justify-start">
                <StoryblokComponent blok={ page.content }/>
            </div>
        </div>
    </Wrapper>
    <Slideover title="Chapters">
        <Chapters pieces={ page.content.pieces }/>
        <Lipsum/>
    </Slideover>
    <Toast/>
</Layout>

<style is:global>
    .r-piece p { @apply text-[1.055rem] leading-[1.605rem] whitespace-pre-wrap; }
    .r-piece p:empty { @apply my-5; }
    .r-piece hr { @apply max-w-[256px]; }
</style>