---
import '@fontsource/limelight'
import '@fontsource-variable/dm-sans'
import Logo from '../components/Logo.astro'
import { useStoryblokApi } from '@storyblok/astro'


const storyblokApi = useStoryblokApi()
const { data: settings } = await storyblokApi.get('cdn/stories/settings', {
    version: import.meta.env.DEV ? 'draft' : 'published'
})
const site = settings.story.content
const year = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="Astro description"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="generator" content={ Astro.generator }/>
		<title>
            { site.title }
        </title>
	</head>

	<body class="text-slate-700 bg-white text-lg flex min-h-screen flex-col">
        <header class="r-center p-5 sm:p-7 lg:p-9">
            <a href="/" class="inline-block">
                <Logo classes="h-20 lg:h-28 fill-slate-950"/>
            </a>
        </header>
		<main class="flex-1 py-8 sm:py-12 lg:py-16">
            <slot/>
        </main>
        <footer class="r-center p-5 text-slate-500 text-base">
            <div class="max-w-2xl">
                { year } { site.preferredName }. <br class="sm:hidden"/> All rights waived
            </div>
        </footer>
	</body>
</html>

<style is:global>
    .r-center {
        @apply flex items-center justify-center text-center;
    }
</style>