---
import '@fontsource/limelight'
import '@fontsource-variable/dm-sans'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BackToTop from '../components/BackToTop.astro'
import Backdrop from '../components/Backdrop.astro'
import { useStoryblokApi } from '@storyblok/astro'

const { pageTitle, pageDescription, pageThumbnail } = Astro.props
const storyblokApi = useStoryblokApi()
const { data: settings } = await storyblokApi.get('cdn/stories/settings', {
    version: import.meta.env.DEV ? 'draft' : 'published'
})
const site = settings.story.content
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<Head
        title={ `${ pageTitle } | ${ site.title }` }
        description={ pageDescription || site.description }
        image={ pageThumbnail || '/og-image.webp' }
    />
	<body
        class="text-slate-700 dark:text-white/70 bg-white dark:bg-neutral-900 flex min-h-dvh flex-col"
        data-body
        style="overflow: auto;">
        <h1 class='sr-only'>{ pageTitle }</h1>
        <Header title={ site.title }/>
		<main class="flex-1 relative" id="main">
            <slot/>
        </main>
        <Footer preferredName={ site.preferredName }/>

        <BackToTop/>
        <Backdrop/>
	</body>
</html>

<style is:global>
    [astro-icon] { @apply flex-shrink-0 pointer-events-none; }

    .is-focused {
        @apply rounded-lg bg-neutral-200 dark:bg-neutral-800;
        animation: 300ms ease-in-out 1s 2 both blink;
    }

    .r-piece {
        @apply [&_p]:text-[1.0325rem] [&_p]:whitespace-pre-wrap [&_p]:leading-[1.595rem] [&_p:empty]:my-7 [&_hr]:max-w-[256px];
    }
    .r-image-dim { @apply dark:contrast-[1.2] dark:brightness-[.8]; }

    @keyframes blink {
        0% { @apply bg-opacity-0; }
        100% { @apply bg-opacity-100; }
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation-duration: 0.3s;
    }
</style>

<script>
    import Jumplink from '../js/jumplink'
    import Astrolog from '../js/astrolog'
    import { runScaleIn } from '../js/gsap'


    document.addEventListener('astro:page-load', () => {
        Astrolog()
    }, { once: true })

    document.addEventListener('astro:page-load', () => {
        Jumplink()
        runScaleIn()
    })

    document.addEventListener('astro:after-swap', () => {
        window.scrollTo({ left: 0, top: 0 })
        runScaleIn()
    })
</script>