---
import '@fontsource/limelight'
import '@fontsource-variable/dm-sans'
import Head from '../globals/Head.astro'
import Header from '../globals/Header.astro'
import Footer from '../globals/Footer.astro'
import BackToTop from '../components/BackToTop.astro'
import Backdrop from '../components/Backdrop.astro'
import { useStoryblokApi } from '@storyblok/astro'
import Wrapper from './Wrapper.astro'
import PageTitle from '../components/PageTitle.astro'
import Scripts from '../globals/Scripts.astro'
import Styles from '../globals/Styles.astro'

const { pageTitle, pageDescription, pageThumbnail } = Astro.props
const storyblokApi = useStoryblokApi()
const { data: settings } = await storyblokApi.get('cdn/stories/settings', {
    version: import.meta.env.DEV ? 'draft' : 'published'
})
const site = settings.story.content
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<Head
        title={ `${ pageTitle } | ${ site.title }` }
        description={ pageDescription || site.description }
        image={ pageThumbnail || '/og-image.webp' }
    />
	<body
        class="text-slate-700 dark:text-white/75 bg-white dark:bg-neutral-900 flex min-h-dvh flex-col"
        data-body-exit
        style="overflow: auto;">
        <Header title={ site.title }/>
		<main
            class="flex-1 swup-in"
            id="swup"
            tabindex="-1">
            <PageTitle title={ pageTitle }/>
            <Wrapper data-wrapper class:list="py-5">
                <slot/>
            </Wrapper>
        </main>
        <Footer preferredName={ site.preferredName }/>
        <BackToTop/>
        <Backdrop/>
	</body>
</html>

<Styles/>
<Scripts/>