---
import '@fontsource/limelight'
import '@fontsource-variable/dm-sans'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BackToTop from '../components/BackToTop.astro'
import Backdrop from '../components/Backdrop.astro'
import { useStoryblokApi } from '@storyblok/astro'
import Wrapper from './Wrapper.astro'
import PageTitle from '../components/PageTitle.astro'

const { pageTitle, pageDescription, pageThumbnail } = Astro.props
const storyblokApi = useStoryblokApi()
const { data: settings } = await storyblokApi.get('cdn/stories/settings', {
    version: import.meta.env.DEV ? 'draft' : 'published'
})
const site = settings.story.content
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<Head
        title={ `${ pageTitle } | ${ site.title }` }
        description={ pageDescription || site.description }
        image={ pageThumbnail || '/og-image.webp' }
    />
	<body
        class="text-slate-700 dark:text-white/75 bg-white dark:bg-neutral-900 flex min-h-dvh flex-col"
        data-body
        style="overflow: auto;">
        <Header title={ site.title }/>
		<main
            class="flex-1 swup-in"
            id="swup"
            data-gsap-entry>
            <PageTitle title={ pageTitle }/>
            <Wrapper
                data-wrapper
                class:list={ `py-7` }>
                <slot/>
            </Wrapper>
        </main>
        <Footer preferredName={ site.preferredName }/>
        <BackToTop/>
        <Backdrop/>
	</body>
</html>

<style is:global>
    /* Define a transition duration during page visits */
    html.is-changing .swup-in {
        @apply opacity-100 duration-[.4s] ease-in-out;
    }
    /* Define the styles for the unloaded pages */
    html.is-animating .swup-in {
        @apply opacity-0 scale-[.99] translate-y-8 ease-in;
    }
    .swup-progress-bar {
        @apply h-0.5 bg-fuchsia-600 dark:bg-fuchsia-300;
    }
    main:focus { outline: none; }

    [astro-icon] { @apply flex-shrink-0 pointer-events-none; }

    .is-focused {
        @apply rounded-lg bg-neutral-200 dark:bg-neutral-800;
        animation: 300ms ease-in-out 1s 2 both blink;
    }

    .r-piece {
        @apply [&_p]:text-[1.0225rem] [&_p]:whitespace-pre-wrap [&_p]:leading-[1.595rem] [&_p:empty]:my-7 [&_hr]:max-w-[256px] dark:font-light;
    }
    .r-image-dim { @apply dark:contrast-[1.2] dark:brightness-[.8]; }

    @keyframes blink {
        0% { @apply bg-opacity-0; }
        100% { @apply bg-opacity-100; }
    }
</style>

<script>
    import Swup from 'swup'
    import SwupProgressPlugin from '@swup/progress-plugin'
    import SwupA11yPlugin from '@swup/a11y-plugin'
    import SwupPreloadPlugin from '@swup/preload-plugin'
    import SwupScrollPlugin from '@swup/scroll-plugin'
    import Jumplink from '../js/jumplink'
    import Astrolog from '../js/astrolog'
    import { Silence } from '../js/gsap'
    import BackToTop from '../js/btt'
    import Slideover from '../js/slideover'
    import Toast from '../js/toast'
    import Search from '../js/search'

    const swup = new Swup({
        animationSelector: '[class*="swup-"]',
        animateHistoryBrowsing: true,
        plugins: [
            new SwupProgressPlugin({
                delay: 200,
                finishAnimation: false
            }),
            new SwupA11yPlugin({
                respectReducedMotion: true,
                autofocus: true
            }),
            new SwupPreloadPlugin({
                preloadVisibleLinks: true
            }),
            new SwupScrollPlugin({
                doScrollingRightAway: true
            })
        ]
    })

    // Run once when page loads
    if (document.readyState === 'complete') {
        init()
        once()
    } else {
        document.addEventListener('DOMContentLoaded', () => {
            init()
            once()
        })
    }
    // Run after every additional navigation by swup
    swup.hooks.on('page:view', () => init())

    function init() {
        Jumplink()
        Silence()
        BackToTop()
        Slideover()
        Toast()
        Search()
    }

    function once() {
        Astrolog()
    }
</script>