---
import '@fontsource/limelight'
import '@fontsource-variable/dm-sans'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BackToTop from '../components/BackToTop.astro'
import Backdrop from '../components/Backdrop.astro'
import { useStoryblokApi } from '@storyblok/astro'

const { pageTitle, pageDescription, pageThumbnail, showSearch } = Astro.props
const storyblokApi = useStoryblokApi()
const { data: settings } = await storyblokApi.get('cdn/stories/settings', {
    version: import.meta.env.DEV ? 'draft' : 'published'
})
const site = settings.story.content
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<Head
        title={ `${ pageTitle } | ${ site.title }` }
        description={ pageDescription || site.description }
        image={ pageThumbnail || '/og-image.webp' }
    />
	<body
        class="text-slate-700 bg-white flex min-h-dvh flex-col"
        data-body
        style="overflow: auto;">
        <h1 class='sr-only'>{ pageTitle }</h1>
        <Header title={ site.title } search={ showSearch }/>
		<main class="flex-1 relative" id="main">
            <slot/>
        </main>
        <Footer preferredName={ site.preferredName }/>

        <BackToTop/>
        <Backdrop/>
	</body>
</html>

<style is:global>
    [astro-icon] { @apply flex-shrink-0 pointer-events-none; }

    .is-focused {
        @apply rounded-2xl;
        animation: blink normal 1s 1s 1 ease-in-out;
    }

    .r-piece {
        @apply [&_p]:text-[1.055rem] [&_p]:whitespace-pre-wrap [&_p]:leading-[1.605rem] [&_p:empty]:my-5 [&_hr]:max-w-[256px];
    }

    @keyframes blink {
        0% { background-color: rgba(241,245,249,0.5) }
        100% { background-color: rgba(241,245,249,1) }
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation-duration: 0.5s;
    }
</style>